<h1>Tasks</h1>

@if (item$().length > 0){
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Status</th>
                <th>Done</th>
            </tr>
        </thead>
        <tbody>
            @for (item of item$(); track $index) {
            <tr>
                <td>{{item.title}}</td>
                <td>{{item.description}}</td>
                <td>{{item.done ? "Done" : "Pending"}}</td>
                <td>
            <input type="checkbox" [checked]="item.done" (change)="onToggle(item)"> 
            </td>
            <button (click)="deleteItem(item.id)">Delete task</button>
            </tr>
            }
            </tbody>
    </table>
}@else {
    <p>No tasks available.</p>
}